footer.flex.justify-between.py-50.items-center
  a(href="https://savaslabs.com/labs" target="_blank" rel="noreferrer").labs-link
    include ../includes/labsLogo
    span.sr-only Labs. A place for experimentation at Savas Labs.
  div.flex.justify-end
    include ../includes/addToAny.pug