footer.flex.justify-between.py-50.items-center
  a(href="https://savaslabs.com/labs").labs-link
    include ../includes/labsLogo
    span.sr-only Labs. A place for experimentation at Savas Labs.
  div.flex.justify-end
    a(href="https://twitter.com/savaslabs").twitter-link.mr-15
      span.sr-only Twitter
    a(href="https://www.instagram.com/savas_labs/").instagram-link
      span.sr-only Instagram