header.lg_grid.lg_grid-cols-3.justify-center.items-center.py-30.lg_pt-75.lg_pb-70.font-fraunces.gap-40
  a(href="https://savaslabs.com" target="_blank" rel="noreferrer").savas-link.hidden.lg_block
    img(src='assets/logo.svg' alt="Savas Labs logo" width="100" height="50").w-100.h-50
  div.text-center
    h1.font-black.text-36 2020 Ipsum
    p.text-lg.mt-20 March 213th, 2020
  div.text-center.mt-25.lg_mt-0.lg_text-right.md_max-w-300.w-full.mx-auto A lorem ipsum generator to commemorate the things from 2020 we’d probably like to forget.
hr.border-t-7.border-gray-900
