header.flex.justify-between.items-center.pt-75.pb-70.font-fraunces
  a(href="https://savaslabs.com").savas-link
    img(src='assets/logo.svg' alt="Savas Labs logo").w-100.h-50
  h1.font-black.text-33 2020 Ipsum
  p.text-lg March 213th, 2020
hr.border-t-7.border-gray-900
