section.relative.hero-container.lg_w-auto.lg_ml-0.mt-25
  img(src='assets/background.svg' alt="Illustrations of things related to 2020, such as toilet paper, zoom screen, covid, mask" width="1217" height="758").rellax.w-full