section.output-wrapper.relative.-mt-300.pt-250.pb-100.mx-full
  div.max-w-700.mx-auto
    include ./form
    p.text-center.copied-container.hidden Copied!
    div#output.mt-50.lg_mt-75.px-15.lg_px-0.text-20
    p.font-fraunces.font-black.text-24.lg_text-33.text-center.relative.-bottom-60
      | May future ipsa be
      | 
      a.underline.hover_no-underline.text-red-400.hover_text-red-300(href='https://brighter2021.com') brighter
      | !