section.pt-70.pb-100
  ul.grid.grid-cols-3
    li.pr-40
      h2.font-fraunces.font-bold.text-lg.mb-5 Lorem Ipsum
      p Lorem ipsum is placeholder text commonly used in print, graphics and mockups.
    li.border-l-2.border-r-2.border-gray-900.px-40
      h2.font-fraunces.font-bold.text-lg.mb-5 2020 Remix
      p We used lorem ipsum a lot on our team, so we thought it would be a nice way to end 2020.
    li.pl-40
      h2.font-fraunces.font-bold.text-lg.mb-5 Enjoy our team’s mashup of 2020
      p Of all the things you may need to look back on and say, “Oh yeah that did happen in 2020!”