extends ../templates/_root

append body
  div.container.mx-auto.px-25.overflow-x-hidden
    include ../includes/header
    //- include ../includes/text-triptych
    include ../includes/heroImage
    include ../includes/output
    include ../includes/footer
