extends ../templates/_root

append body
  div.container.mx-auto
    include ../includes/header

    form(name="generateForm" id="generateForm")
      select(name="type" required)
        option(value="paragraphs" selected) Paragraphs
        option(value="sentences") Sentences
      input(type="number" name="number" required="required")
      button(type="submit") Generate
      button(type="button")#copy-button Copy
    div#output
