@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@font-face {
  font-family: 'Fraunces';
  font-style: bold;
  font-weight: 700;
  src: url('../assets/fonts/Fraunces144ptSoft-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Fraunces';
  font-style: black;
  font-weight: 900;
  src: url('../assets/fonts/Fraunces144ptSoft-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'Fraunces';
  font-style: semi-bold;
  font-weight: 600;
  src: url('../assets/fonts/Fraunces144ptSoft-SemiBold.woff2') format('woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.output-wrapper {
  background: linear-gradient(
    180deg,
    theme('colors.transparent') 0%,
    theme('colors.green.100') 33%,
    theme('colors.green.100') 80%,
    theme('colors.transparent') 100%
  );
}

#output {
  & > p {
    @apply text-justify;

    & + p {
      @apply mt-30;
    }
  }
}

select {
  background-image: url(../assets/caret-down.svg);
  background-position: calc(theme('spacing.full') - theme('spacing.15')) theme('spacing.15');

  @apply bg-white
    bg-no-repeat;
}

form button {
  background: url(../assets/button-background.svg) center/contain no-repeat;
}

footer a {
  &.instagram-link {
    background: url(../assets/instagram.svg) center/contain no-repeat;

    @apply inline-block
      w-25
      h-25;
  }

  &.twitter-link {
    background: url(../assets/twitter.svg) center/contain no-repeat;

    @apply inline-block
      w-30
      h-25;
  }
}

.labs-link:hover {
  .glare {
    @apply translate-x-75;
  }
}